
.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 64px; /* Height of the header */
    padding-bottom: 60px; /* Adjust based on footer height */
  }
  
  .main-content {
    flex: 1;
    margin-top: 50px; /* Adjust this value to set the spacing between header and content if needed */
  }