.thank-you-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Center vertically */
    background-color: #f9f9f9; /* Optional: Background color */
  }
  
  .thank-you-box {
    padding: 30px; /* Increased padding */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    text-align: center;
  }
  
  .thank-you-heading {
    font-size: 3rem; /* Increased heading size */
    margin-bottom: 20px; /* Increased margin */
    background: linear-gradient(to right, #4535C1, #36C2CE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .thank-you-text {
    font-size: 1.5rem; /* Increased text size */
    margin-top: 10px; /* Added top margin for spacing */
  }
  